<%= form_with(model: acebookpost, local: true) do |form| %>
  <% if acebookpost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(acebookpost.errors.count, "error") %> prohibited this acebookpost from being saved:</h2>

      <ul>
      <% acebookpost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :acebookpost_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
